DISCORD_TOKEN=
BOT_DEVELOPER_ID=
GAMEPLAZA_YOUTUBE_URL=https://www.youtube.com/@GAMEPLAZA_C/streams

MILK_TRIGGER_PREFIX=밀크짱
MILK_AGENT_BASE_URL=http://127.0.0.1:18080
MILK_AGENT_TIMEOUT_SEC=150
MILK_AGENT_TOKEN=
MILK_MAX_MESSAGES_AFTER_LAST_CONTEXT=100
MILK_INCLUDE_BOT_MESSAGES_IN_CONTEXT=true
ALLOWED_CHANNEL_IDS=
ALLOWED_ROLE_IDS=
